---
import Layout from "../layouts/Layout.astro";
import data from "../../OpenLinks.json";
import Avatar from "../../src/components/header.astro";
import Adult from "../../src/components/adult.astro";
import Link from "../../src/components/link.astro";
import Footer from "../../src/components/footer.astro";
import { getTheme } from "../../src/lib/getTheme.ts";

const { links, profile, title, description, url_base, footer } = data;
const themeStyles = getTheme(data.theme);
---

<Layout themeClass={themeStyles} meta={{ title, description, url_base }}>
	<Avatar slot="header" profile={profile} avatarClass={themeStyles.avatar} />
	{profile.adult && <Adult />}
	<ul class="list-none space-y-4">
		<div style="border-radius: 15px; overflow: hidden; padding:56.25% 0 0 0;position:relative;">
    <iframe src="https://player.vimeo.com/video/1129696779?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" 
            frameborder="0" 
            allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" 
            style="position:absolute;top:0;left:0;width:100%;height:100%;" 
            title="Presentación Facebook Mastery"></iframe>
</div>
<script src="https://player.vimeo.com/api/player.js"></script>
		{
			links.map((link) => (
				<Link
					link={link}
					buttonClass={themeStyles.links_button}
					textClass={themeStyles.links_text}
				/>
			))
		}
	</ul>
	<Footer slot="footer" footer={footer} />
</Layout>


